h1, #frameCounter {
    text-align: center;
}

.gameContainer {
    height: max-content;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.frameCounter {
    width: auto;
    border: 1px solid #000;
    margin: 5px;
}

canvas {
    border: 1px solid #000;
    margin: 5px;
    display: inline;
}